src/state-machines/Cas-Rbr-Ppo.asl.json
{
  "Comment": "PPO sample",
  "StartAt": "RunPpo1?",
  "States": {
    "RunPpo1?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Ppo1",
          "BooleanEquals": false,
          "Next": "RunPpo2?"
        }
      ],
      "Default": "Ppo1"
    },
    "Ppo1": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:620135122039:activity:Cas-Rbr-Ppo1",
      "TimeoutSeconds": 0,
      "Next": "RunPpo2?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Comment": "CatcherTimeout",
          "Next": "Timeout",
          "ResultPath": "$.errorInfo"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "CatcherError",
          "Next": "Error",
          "ResultPath": "$.errorInfo"
        }
      ],
      "ResultPath": null
    },
    "RunPpo2?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Ppo2",
          "BooleanEquals": false,
          "Next": "RunPpon?"
        }
      ],
      "Default": "Ppo2"
    },
    "Ppo2": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:620135122039:activity:Cas-Rbr-Ppo2",
      "Next": "RunPpon?",
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Comment": "CatcherTimeout",
          "Next": "Timeout",
          "ResultPath": "$.errorInfo"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "CatcherError",
          "Next": "Error",
          "ResultPath": "$.errorInfo"
        }
      ],
      "ResultPath": null
    },
    "RunPpon?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Ppon",
          "BooleanEquals": false,
          "Next": "Exit"
        }
      ],
      "Default": "Ppon"
    },
    "Ppon": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:620135122039:activity:Cas-Rbr-Ppon",
      "Next": "Exit",
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Comment": "CatcherTimeout",
          "Next": "Timeout",
          "ResultPath": "$.errorInfo"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "CatcherError",
          "Next": "Error",
          "ResultPath": "$.errorInfo"
        }
      ],
      "ResultPath": null
    },
    "Exit": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:620135122039:activity:Cas-Rbr-Ppo-Exit",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.Timeout"
          ],
          "Comment": "CatcherTimeout",
          "Next": "Timeout",
          "ResultPath": "$.errorInfo"
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "CatcherError",
          "Next": "Error",
          "ResultPath": "$.errorInfo"
        }
      ],
      "End": true
    },
    "Error": {
      "Type": "Pass",
      "End": true,
      "ResultPath": "$.extra",
      "Result": {
        "error": "ERROR!"
      }
    },
    "Timeout": {
      "Type": "Pass",
      "End": true,
      "ResultPath": "$.extra",
      "Result": {
        "error": "timedout!"
      }
    }
  }
}
